@{
    ViewBag.Title = "Gregg Carey";
}

<h2>@ViewBag.Message</h2>
<p>Hello. My name is Gregg Carey and I am a web developer. I am learning technologies like ASP.NET, C#, SQL, HTML5, CSS3 and JavaScript. These technologies can help businesses manage information, communicate with their customers and operate more efficiently by creating a cohesive information solution.</p>

<p>I currently live in Kansas City and recently graduated from Centriq Training in Leawood, KS. I am currently studying for a Microsoft Certified Technology Specialist (MCTS) .NET Framework Certification. Do you need to hire someone with those skills? Do you know someone who needs to hire someone with those skills? Then lets talk. I am looking for employment where I can interact with a small team of developers to create value for our organization. I hope that by developing solutions to business opportunities, I will be able to grow as a developer.</p>

<p>On a personal note, I enjoy working out with kettlebells and challenging myself to the Spartan Race WOD.</p>