@{
    ViewBag.Title = "Resume";
}


<div id="resume">
    <div id="contact">
        <h1>Gregg Carey</h1>
        <h2>.Net Developer</h2>
        <ul>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        </ul>
    </div>
    <div id="creds">
        <div class="block">
            <h3>Summary of Qualifications</h3>
            <ul>
                <li>Excellent foundation knowledge in designing and developing web applications using .NET framework.</li>
                <li>Consistently creative individual with the ability to both lead and follow.</li>
                <li>Experienced professional in problem-solving, decision making, and working under pressure.</li>
            </ul>
        </div>
        <div class="block">
            <h3>Technical Skills</h3>
            <div style="clear: both"></div>
            <div class="skill">
                <h4>Software</h4>
                <ul>
                    <li>Visual Studio 2012</li>
                </ul>
            </div>
            <div class="skill">
                <h4>Front end</h4>
                <ul>
                    <li>Responsive/Mobile Web Development</li>
                    <li>HTML 5</li>
                    <li>CSS 3</li>
                    <li>JavaScript</li>
                    <li>jQuery</li>
                    <li>jQuery UI</li>
                    <li>jQuery Mobile</li>
                    <li>Ajax</li>
                </ul>
            </div>
            <div class="skill">
                <h4>.Net Framework</h4>
                <ul>
                    <li>MVC</li>
                    <li>ASP</li>
                    <li>C#</li>
                    <li>LINQ</li>
                    <li>ADO</li>
                </ul>
            </div>
            <div class="skill">
                <h4>Database</h4>
                <ul>
                    <li>SQL</li>
                    <li>SQL Server 2008 R2</li>
                </ul>
            </div>
            <div style="clear: both"></div>
        </div>
        <div class="block">
            <h3>Education and Technical Training</h3>
            <div class="placetime">
                <h4>Centriq Training, Leawood, KS</h4>
                <span class="time">05/13 - 09/13</span>
            </div>
            <span class="title">Application Developer in C#.NET</span>
            <div class="points">
                <ul>
                    <li>Professional IT Project Experience</li>
                    <li>
                        <ul>
                            <li>Widgets and Gadgets: Created a secure application for managing product data.  </li>
                            <li><a href="http://greggrcarey.com/TST">Tech Support Tracker:</a> Created a aecure ASP.NET Web Form application
                        for managing the lifecycle of a trouble ticket associated with hardware and software within an organization.

                            </li>
                            <li><a href="http://greggrcarey.com/SAT">Student and Scheduling Administration Tool:</a> Created a secure ASP.Net MVC application for the purpose
                        of managing the Students and Schedule for a univeristy.
                            </li>
                        </ul>
                    </li>
                   <!-- <li>Certifications</li>
                    <li>
                        <ul>
                            <li>Microsoft Technology Associate (MTA): Web Development Fundamentals. (expected 10/13)</li>
                        </ul>
                    </li>-->
                </ul>
            </div>
            <div class="placetime">
                <h4>Univeristy of Kansas, Lawrence KS</h4>
                <span class="time">05/13</span>
            </div>
            <span class="title">Master of Science/ Education</span>
            <div class="placetime">
                <h4>North Georgia College and State University, Dahlonega,GA</h4>
                <span class="time">05/02</span>
            </div>
            <span class="title">Bachelor of Science/ Biology</span>
        </div>
        <div class="block">
            <h3>Professional Experience</h3>
            <div class="placetime">
                <h4>Dancing Goats Coffee Shop, Atlanta, GA</h4>
                <span class="time">08/10 – 05/11</span>
            </div>
            <span class="title">Barista</span>
            <div class="points">
                <ul>
                    <li>
                        <ul>
                            <li>Served as cashier and barista in the highest volume independent coffee shop in Atlanta.</li>
                            <li>Passed Dancing Goats exacting barista exam and maintained high standards with high output.</li>
                            <li>Maintained a calm demeanor during periods of high volume.</li>
                            <li>Conducted resupply and cleaning of establishment during periods of low volume.</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="placetime">
                <h4>Red Eye Coffee, Athens, GA</h4>
                <span class="time">01/07 – 06/10</span>
            </div>
            <span class="title">Owner</span>
            <div class="points">
                <ul>
                    <li>
                        <ul>
                            <li>Researched, planned and executed Athens first “third wave” coffee shop, which focused on manually brewed coffee, traditional Italian espresso and local gelato.</li>
                            <li>Hired and trained staff, ensuring that standards were understood and observed in the shop.</li>
                            <li>Promoted the shop with traditional advertising, social media and regular coffee appreciation classes.</li>
                            <li>Engaged the community by participating in local food events like “A Taste of Athens” and benefits for the North East Georgia Food Bank.</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="placetime">
                <h4>Georgia Army National Guard/ US Army, Various</h4>
                <span class="time">12/04 – 11/06</span>
            </div>
            <span class="title">Mortar Platoon Leader</span>
            <div class="points">
                <ul>

                    <li>
                        <ul>
                            <li>Responsible for training, discipline, welfare and safety of 30 enlisted soldiers in combat readiness for Operation Iraqi Freedom III.</li>
                            <li>As Mortar Platoon Leader, responsible for 22-member platoon and accountable for over $10 million in equipment.</li>
                            <li>During execution of 287 high risk missions, provided critical decision making in an extremely dangerous environment.</li>
                            <li>Commended for the security protection given to EOD (Explosive Ordinance Disposal) teams and praised as "a fine example of what a combat capable officer should be: analytical, determined and competent.</li>
                            <li>Awarded a Purple Heart for injuries received in battle on August 6, 2005. Retired from service in November 2006.</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="block">
            <h3>Selected Awards and Accomplisments</h3>
            <div class="points">
                <ul>
                    <li>
                        <ul>
                            <li>Purple Heart – Wounded in Combat</li>
                            <li>Draper Armor Leadership Award – Top Graduate in Basic Training 01/99 – 05/99</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="placetime">
                <h4>North Georgia College And State University, Dahlonega, GA </h4>
                <span class="time">08/97 - 05/02</span>
            </div>
            <div class="points">
                <ul>
                    <li>
                        <ul>
                            <li>Four years on the Corps of Cadets Drill Team “The Blue Ridge Rifles”, a team that won four National Champion Drill Competitions at Tulane University. Held senior leadership positions for two years.</li>
                            <li>Four years of ROTC in the Corps of Cadets training to be a Commissioned Officer in the Georgia Army National Guard.</li>

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div style="clear: both"></div>
</div>

